<div class="container">
  <div class="row">
    <div class="">
      <div class="text-center ">
      <div class="container mt-5">
      <h1 class="text-center mb-4">Overview</h1>
    </div>
      
      <div class="row mt-5 text-center">
        <div class="card mb-3 col-md-5" style="margin-left: 10px;margin-right: 10px; max-width: 25rem;">
          <div class="card-body">
            <h2 class="card-title">Angular Frontend Development</h2>
            <p class="card-text">Design and implement the frontend user interface using the Angular framework. This involves creating components, templates, and styles to provide a user-friendly interface for interacting with the YouTube API.</p>
          </div>
        </div>
        
        <div class="card mb-3 col-md-5" style="margin-left: 10px;margin-right: 10px; max-width: 25rem;">
          <div class="card-body">
            <h2 class="card-title">Integration with YouTube API</h2>
            <p class="card-text">Explore the available YouTube API services on the Google Cloud Console. Choose appropriate endpoints that align with the functionality intend to implement in my application. Implement the necessary logic to make HTTP requests to these endpoints and handle the responses within my Angular application.</p>
          </div>
        </div>
        
        <div class="card mb-3 col-md-5" style="margin-left: 10px;margin-right: 10px; max-width: 25rem;">
          <div class="card-body">
            <h2 class="card-title">Data Display and Creativity</h2>
            <p class="card-text">Utilize my creativity to design how the response data from the YouTube API will be displayed to the user. This could involve organizing the data in meaningful ways, implementing interactive features, or applying custom styling to enhance the user experience.</p>
          
          </div>
          
        </div>
      </div>
      <div class="card mb-4 text-center">
        <div class="card-body">
          <p class="card-text">The objective of this assignment is to create an Angular project that interacts with the YouTube API to retrieve and display data from the service. By completing this assignment, demonstrate proficiency in Angular development and integration with third-party APIs.</p>
          
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
    <div class="col-md-6 text-center ">
      <img src="assets/node.png" alt="Node_logo" class="img-fluid" style="max-width: 210px;">
      <img src="assets/angular.png" alt="Angular_logo" class="img-fluid" style="max-width: 210px;">
    </div>
  </div>
</div>
