<div class="container mt-5">
  <div class="row justify-content-center">
      <div class="col-md-6 text-center ">
        <img src="assets/youtube_logo.png" alt="YouTube Home" class="img-fluid" style="max-width: 210px;">
        <div class="container mt-5">

        </div>
        <h2>Welcome to YouTube Assignment</h2>
        <p class="lead">Unleash the depths of your creativity, delve into your passions, and forge connections with a vibrant global community.</p>
        <p>Embark on a journey through our platform, where a cornucopia of content awaits your discovery. From enlightening tutorials to captivating vlogs, immerse yourself in a tapestry of artistry woven by skilled creators spanning the globe.</p>
        <a routerLink="/search" class="btn btn-primary">Start Searching</a>  
        
      </div>
  </div>
</div>
